*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    font-family: Outfit;
    background-color: hsl(217, 54%, 11%);
}

main{
    display:flex;
    flex-flow: row wrap;
    height: 596px;
    width: 350px;
    background-color: hsl(216, 50%, 16%);
    margin-top: 10rem;
    border-radius: 15px;
    justify-self: center;
    align-content: center;
}

.hero{
width: 302px;
height: 302px;
margin: 0px 24px 24px 24px;
border-radius: 8px;
background-color: #00FFF8;
}

header{
font-size: 13px;
color:hsl(0, 0%, 100%);
margin-left: 24px;
font-weight: 600;
margin-bottom: 16px;
}

h2{
     color:#8BACD9;
     margin-left: 24px;
     font-size: 18px;
     font-weight: 400;
     margin-bottom: 24px;
}

.state{
    display:flex;
    align-items: center;
}

.stock{
 color: #00FFF8;
 margin-left: 24px;
 font-size: 16px;
}
.stock img{
    height: 18px;
    width: 11px;
    float: left;
    margin-right: 7px;
}

.date {
color: #8BACD9;
margin-left: 110px;
margin-right: 24px;
font-size: 16px;
}

.date img{
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 8px;
}

hr{
    margin: 24px 24px 16px 24px;
    border-color: #8BACD9;
}

.creator{
    color: #8BACD9;
    margin-left: 24px;
}

.name{
    color: #FFFFFF ;
    
}

.avatar{
    width: 33px;
    height: 33px;
    float: left;
    border: solid white 1px;
    border-radius:100%;
    margin-right: 16px;
}

.fade {
    position: relative;
    width: auto;
    height: auto;
  }
  
/*hover transition*/
.hero:hover{
    opacity: 0.1;
}


header:hover{
    color:#00FFF8;
}

.name:hover{
    color:#00FFF8;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}